@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

/* font-family: 'Dokdo', cursive; */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrap {
  width: 1269px;
  margin: 0 auto;
  position: relative;
}

/* header */
.header_ex {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}

.header_ex .wrap {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header_ex .wrap .logo {
  width: 282px;
}

.header_ex .wrap .logo a img {
  width: 100%;
}

.header_ex .wrap .gnb {
  width: calc(100% - 306px - 92px);
}

.header_ex .wrap .gnb ul {
  display: flex;
  justify-content: space-between;
}

.header_ex .wrap .gnb ul .gnb_personal {
  background-color: rgb(150, 199, 176);
  border-radius: 0 10px 0 0;
}

.header_ex .gnb ul li a {
  padding: 0 30px;
  text-align: center;
  font-family: "Dokdo", cursive;
}

.header_ex .gnb ul li:hover a {
  font-weight: bold;
  box-sizing: border-box;
}

.header_ex .header_right {
  display: flex;
  width: 92px;
}

.header_ex .header_right .cart {
  display: block;
  width: 46px;
  text-align: center;
}

.header_ex .header_right .cart a i {
  display: block;
  line-height: 60px;
  font-size: 30px;
}

.header_ex .header_right .search_gnb {
  display: block;
  width: 46px;
  text-align: center;
  position: relative;
}

.header_ex .header_right .search_gnb input {
  width: 0;
  transition: all 0.5s;
}

.header_ex .header_right .search_gnb input::placeholder {
  color: rgb(156, 133, 91);
  font-size: 17px;
}

.header_ex .header_right .search_gnb:hover input {
  display: block;
  position: absolute;
  right: 50px;
  top: 0px;
  height: 60px;
  width: 330px;
  background-color: rgb(150, 199, 176);
  border-radius: 10px;
  border-color: rgb(156, 133, 91);
}

.header_ex .header_right .search_gnb a i {
  display: block;
  line-height: 60px;
  font-size: 30px;
}

.header_ex .wrap .lnb {
  display: none;
}

/* route */
.route {
  width: 100%;
  overflow: hidden;
}


.route a p {
  font-size: 14px;
}

.route a p.t_shirt,
.categories a p.t_shirt {
  font-weight: bold;
  text-decoration: underline;
}

.route a:hover p {
  color: black;
  text-decoration: underline;
}

.route>p {
  text-align: center;
  margin: 0 30px;
}

.route p {
  float: left;
  color: rgb(103, 103, 103);
}

.title h1 {
  overflow: hidden;
  width: 100%;
}

/* top category */
.category {
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
}

.category h1 {
  font-family: "Dokdo", cursive;
  text-align: center;
  margin: 20px 0 0 0;
}



#category_btn1,
#category_btn2,
#category_btn3 {
  display: none;
}

#category_btn1:checked~.sheet .sheet1 {
  display: block;
}

#category_btn1:checked~.sheet .sheet2,
#category_btn1:checked~.sheet .sheet3 {
  display: none;
}

#category_btn2:checked~.sheet .sheet2 {
  display: block;
}

#category_btn2:checked~.sheet .sheet1,
#category_btn2:checked~.sheet .sheet3 {
  display: none;
}

#category_btn3:checked~.sheet .sheet3 {
  display: block;
}

#category_btn3:checked~.sheet .sheet1,
#category_btn3:checked~.sheet .sheet2 {
  display: none;
}

.category_tab .category_label {
  text-align: center;
}

#category_btn1:checked~.category_label .label1,
#category_btn2:checked~.category_label .label2,
#category_btn3:checked~.category_label .label3 {
  font-weight: bold;
  text-decoration: underline;
}

.category_tab label {
  margin: 10px;
}

.category .title {
  margin-bottom: 50px;
  width: 100%;
}

.wrap .category .title .categories {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.pagination {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.pagination a {
  display: inline-block;
}


.category .categories a p:hover {
  color: black;
  text-decoration: underline;
}

.category .categories>p {
  /* text-align: center; */
  margin: 0 30px;
}

.category .categories p {
  float: left;
  color: rgb(103, 103, 103);
}

.category .product_ex {
  margin-top: 50px;
}

.category .product {
  float: left;
  width: 199px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.product {
  width: 199px;
  margin: 0 auto;
  position: relative;
}


.product .product_hover {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.product:hover .product_hover {
  display: block;
}


.category .product_ex .product:hover p:nth-child(3),
.category .product_ex .product:hover p:nth-child(4) {
  font-weight: bold;
}

.category .product_ex .product:nth-child(6n) {
  margin-right: 0;
}

.category>div .product_info {
  width: 100%;
  height: 80px;
}

.category .product:hover .product_info {
  border: 3px solid rgb(150, 199, 176);
  box-sizing: border-box;
}

.category div img {
  width: 100%;
}

.category div p {
  margin: 2px 0;
}


.category div p.product_name {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category div p.line {
  text-decoration-line: line-through;
  font-size: 12px;
}

.category div p.price {
  width: 50px;
  float: left;
}

.category div p.rate {
  width: 24px;
  float: right;
  color: rgb(150, 199, 176);
}

.category .sale>div p.rate {
  width: 30px;
  float: right;
  color: rgb(150, 199, 176);
}

.category div p.rate.brown {
  width: 24px;
  float: right;
  color: rgb(156, 133, 91);
}

.category_image {
  display: block;
  width: 105px;
  margin-top: 20px;
}


/* pagination */
.pagination {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.pagination a {
  display: inline-block;
  width: 20px;
}

.pagination a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.pagination a:nth-child(2) {
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}

/* top_btn */
.top_btn {
  z-index: 10;
  position: fixed;
  bottom: 50px;
  right: 15px;
}

.top_btn:hover a img {
  width: 101%;
}

/* footer */
.footer_ex {
  background-color: rgb(156, 133, 91);
  overflow: hidden;
  padding: 20px 0 30px 0;
}


.footer_middle_infomation b {
  padding-bottom: 10px;
}

.footer_ex .wrap .footer p {
  display: block;
  line-height: 30px;
  font-size: 17px;
}

.footer_ex .wrap .footer .footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgb(103, 103, 103);
}

.footer_ex .wrap .footer .footer_top ul li a {
  color: rgb(103, 103, 103);
}

.footer_ex .wrap .footer .footer_top .footer_top_left {
  width: 413px;
}

.footer_ex .wrap .footer .footer_top .footer_top_left ul {
  justify-content: space-between;
  display: flex;
}



.footer_ex .wrap .footer .footer_top .footer_top_left ul li a {
  font-size: 12px;
}

.footer_ex .wrap .footer .footer_top .footer_top_left ul li a:hover {
  text-decoration: underline;
}

.footer_ex .wrap .footer .footer_top .footer_top_middle {
  width: 413px;
}

.footer_ex .wrap .footer .footer_top .footer_top_middle ul {
  justify-content: space-between;
  display: flex;
}



.footer_ex .wrap .footer .footer_top .footer_top_middle ul li a {
  font-size: 12px;
}

.footer_ex .wrap .footer .footer_top .footer_top_middle ul li a:hover {
  text-decoration: underline;
}

.footer_ex .wrap .footer .footer_top .footer_top_right {
  width: 199px;
}

.footer_ex .wrap .footer .footer_top .footer_top_right ul {
  justify-content: space-between;
  display: flex;
}

.footer_middle {
  display: flex;
}

.footer_middle .footer_middle_infomation {
  width: 1119px;
}

.footer_middle .footer_middle_sns {
  width: 150px;
}


.footer_ex .wrap .footer .footer_top .footer_top_right ul li a {
  font-size: 12px;
}

.footer_ex .wrap .footer .footer_top .footer_top_right ul li a:hover {
  text-decoration: underline;
}


.footer_middle_infomation {
  position: relative;
  overflow: hidden;
}

.footer_middle_infomation b {
  display: block;
  overflow: hidden;
}

.footer_middle_infomation p {
  float: left;
  margin-right: 15px;
}

.footer_middle_infomation p a {
  text-decoration: underline;
}

.footer_middle_infomation p a:hover {
  font-weight: bold;
}

.copyright {
  width: 100%;
  margin: 30px 0 50px 0;
}

.term {
  display: none;
}

.footer_middle_sns {
  position: absolute;
  right: 0;
  top: 58px;
  display: flex;
  justify-content: flex-end;
}

.footer_middle_sns div {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}


.footer_middle_sns div a img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.footer_middle_sns div a:hover img {
  width: 110%;
  height: 110%;
  border: 2px solid rgb(156, 156, 156);
  box-sizing: border-box;
}

.footer_bottom {
  display: flex;
}



.footer_bottom .footer_bottom_left a:hover img {
  border: 3px solid rgb(156, 156, 156);
}

.footer_bottom .footer_bottom_left a img {
  border: 1px solid rgb(156, 156, 156);
  width: 100px;
  margin-right: 15px;
  box-sizing: border-box;
}



.footer_bottom_right p {
  float: left;
  margin-right: 50px;
}


/* mediaquery */
/* tablet */
@media (max-width: 1268px) {
  .wrap {
    width: 100%;
  }

  .logo {
    width: 25%;
  }

  .header_ex .logo a img {
    width: 100%;
  }

  .header_ex .gnb {
    width: calc(100% - 25% - 12.5%);
  }

  .header_ex .gnb ul {
    justify-content: space-between;
    text-align: center;
  }

  .header_ex .gnb ul li a {
    padding: 0 10px;
  }

  .header_right {
    width: 12.5%;
  }

  .category .product {
    width: calc((100% - 45px) / 4);
  }

  .category .product_ex .product:nth-child(6n) {
    margin-right: 15px;
  }

  .category .product_ex .product:nth-child(4n) {
    margin-right: 0px;
  }

  .category .product_ex .product p:nth-child(3),
  .category .product_ex .product p:nth-child(4) {
    font-weight: bold;
  }

  .top_btn img {
    width: 50px;
  }

  /* footer*/
  .footer_ex .wrap .footer .footer_top .footer_top_right {
    width: calc(100% * 3 / 8);
  }

  .footer_ex .wrap .footer .footer_top .footer_top_middle {
    width: calc(100% * 5 / 8);
  }

  .footer_ex .wrap .footer .footer_top .footer_top_right ul {
    border-right: 1px solid rgb(103, 103, 103);
  }

  .footer_ex .wrap .footer .footer_top .footer_top_right ul li {
    border-right: none;
  }

  .footer_ex .wrap .footer .footer_top ul li {
    width: 92px;
    margin-right: 15px;
  }

  .footer_ex .wrap .footer .footer_top ul li:last-child {
    margin-right: 0;
  }

  .footer_ex .wrap .footer .footer_top .footer_top_middle ul li {
    text-align: right;
  }

  .footer_ex .wrap .footer .footer_top .footer_top_right ul li a,
  .footer_ex .wrap .footer .footer_top .footer_top_middle ul li a {
    font-size: 18px;
  }

  .footer_top_left {
    display: none;
  }

  .footer_top_right {
    order: -1;
  }

  .border_right {
    border-right: 1px solid rgb(103, 103, 103);
  }

  .footer_middle .footer_middle_infomation {
    position: relative;
    width: 90%;
  }

  .copyright {
    margin: 0;
  }

  .footer_middle_sns {
    display: flex;
    width: 6%;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer_middle_sns>div {
    margin-bottom: 3px;
  }

  .footer_middle .footer_middle_infomation b {
    display: block;
    font-size: 18px;
  }

  .footer_ex .wrap .footer p {
    font-size: 17px;
  }

  .copyright {
    margin-top: 100px;
    width: 100%;
  }

  .term {
    display: block;
    position: absolute;
    bottom: 60px;
  }

  .footer .bar {
    width: 2px;
    height: 20px;
    line-height: 20px;
    background-color: rgb(103, 103, 103);
  }

  .footer ul li a {
    display: inline-block;
    color: rgb(103, 103, 103);
    font-weight: bold;
  }
  .footer ul li a:hover{
    text-decoration: underline;
  }
  .term ul .bar a {
    display: inline-block;
  }

  .term ul li {
    display: inline-block;
    margin-right: 20px;
  }

  .footer_middle_sns {
    display: flex;
    flex-direction: column;
  }

  .footer_middle_sns>div {
    margin-bottom: 3px;
  }

  .footer_bottom {
    margin-top: 30px;
  }

  .footer_bottom_right p:first-child {
    margin-bottom: 30px;
  }
}

/* mobile */
@media (max-width: 840px) {
  .header_ex {
    overflow: visible;
  }

  .header_ex .wrap {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    justify-content: center;
  }

  .header_ex .logo {
    width: 50%;
  }

  .header_ex .logo a img {
    width: 100%;
  }

  .gnb {
    display: none;
  }

  .header_right.header_right {
    display: none;
  }

  /* lnb_menu */
  /* lnb_menu */
  .header_ex .wrap .lnb {
    display: block;
  }

  #lnb_chk {
    display: none;
  }

  #lnb_chk:checked~.lnb_ham_menu {
    display: none;
  }

  #lnb_chk~.lnb_ham_menu {
    display: block;
  }

  .label {
    position: absolute;
    top: 0px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

  .label label img {
    display: inline-block;
    width: 60px;
    height: 60px;
  }

  .lnb_ham_menu {
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 55;
    overflow: hidden;
  }

  .lnb_menu_top {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.9;
    border-bottom: 1px solid #999;
  }

  .cart {
    display: flex;
    width: calc((100% - 15px) / 6 * 1);
    justify-content: center;
  }

  .cart a i {
    text-align: center;
    line-height: 80px;
    text-align: center;
    display: block;
    font-size: 30px;
    /* font-size: 100%; */
    height: 80px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f07a";
    border-right: 1px solid #999;
    padding-right: 15px;
  }

  .search_lnb {
    display: flex;
    width: calc((100% - 15px) / 6 * 5);
    justify-content: space-around;
    align-items: center;
  }

  .search_lnb input {
    position: relative;

    width: 100%;
    height: 50px;
    /* line-height: 80px; */
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }


  .search_lnb a i {
    position: absolute;
    top: 0;
    right: 35px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    height: 80px;
    display: block;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f002";
  }

  .lnb_ham_menu li {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(156, 133, 91);
    box-sizing: border-box;
    opacity: 0.9;
    font-family: "Dokdo", cursive;
    font-size: 20px;
  }


  .lnb_menu_new img {
    position: absolute;
    height: 55px;
    top: 0;
    left: 100px;
  }

  .lnb_menu_accessories img {
    position: absolute;
    height: 55px;
    top: 0;
    right: 50px;
  }

  .lnb_menu_sale img {
    position: absolute;
    height: 50px;
    top: 6px;
    left: 50px;
  }

  .lnb_ham_menu .lnb_menu_personal {
    background-color: rgb(150, 199, 176);
  }

  .lnb_ham_menu li:last-child {
    border-bottom: none;
  }

  .lnb_ham_menu a li {
    color: white;
  }

  .lnb_menu {
    display: none;
  }


  .logo {
    width: 100%;
  }

  .logo a img {
    width: 100%;
  }

  .category .product {
    width: calc((100% - 30px) / 3);
    margin-right: 0;
    margin-right: 15px;
  }

  .category .product_ex .product:nth-child(4n) {
    margin-right: 15px;
  }

  .category .product_ex .product:nth-child(3n) {
    margin-right: 0px;
  }

  .footer_top_middle {
    display: none;
  }

  .footer_ex .wrap .footer .footer_top .footer_top_right {
    width: 100%;
    /* display: flex; */
  }

  .footer_ex .wrap .footer .footer_top .footer_top_right ul {
    display: flex;
    border-bottom: 1px solid rgb(103, 103, 103);
    border-right: none;
  }

  .footer_ex .wrap .footer .footer_top .footer_top_right ul li {
    display: block;
    border-right: 1px solid rgb(103, 103, 103);
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 15px;
  }

  .footer_ex .wrap .footer .footer_top .footer_top_right li:last-child {
    border-right: none;
  }
}

@media (max-width: 425px) {

  .lnb_menu_new img {
    position: absolute;
    height: 55px;
    top: 0;
    left: 40px;
  }

  .lnb_menu_accessories img {
    position: absolute;
    height: 55px;
    top: 0;
    right: 0px;
  }

  .lnb_menu_sale img {
    position: absolute;
    height: 50px;
    top: 6px;
    left: 20px;
  }

  .header_ex .wrap .logo {
    width: 50%;
  }

  .header_ex .wrap .logo a {
    display: block;
    line-height: 77px;
  }
}